<template>
  <v-container class="elevation-1">
    <v-row no-gutters>
      <v-col cols="12" md="12">
        <v-dialog
          v-model="dialog"
          fullscreen
          hide-overlay
          transition="scale-transition"
        >
          <template #activator="{ on, attrs }">
            <v-btn color="primary" dark v-bind="attrs" v-on="on">
              Nuevo ticket
            </v-btn>
          </template>

          <v-card>
            <v-toolbar dark color="primary">
              <v-toolbar-title>Page title</v-toolbar-title>

              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon>mdi-heart</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon>mdi-magnify</v-icon>
              </v-btn>

              <v-menu left bottom>
                <template #activator="{ on, attrs }">
                  <v-btn icon v-bind="attrs" v-on="on">
                    <v-icon>mdi-dots-vertical</v-icon>
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item v-for="n in 5" :key="n" @click="() => {}">
                    <v-list-item-title>Option {{ n }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-toolbar>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.label"
                      label="Dessert name"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.department"
                      label="Calories"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.service"
                      label="Fat (g)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.client"
                      label="Carbs (g)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.priority"
                      label="Protein (g)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.last_reply"
                      label="Protein (g)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.creation_date"
                      label="Protein (g)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.warranty_date"
                      label="Protein (g)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.ticket_alert"
                      label="Protein (g)"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.department_alert"
                      label="Protein (g)"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="CanselNewTickets">
                Cancelar
              </v-btn>
              <v-btn color="blue darken-1" text @click="SaveNewTickets">
                Crear ticket
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>

    <v-item-group mandatory>
      <v-container>
        <v-row>
          <v-col cols="12" md="12" class="d-flex justify-space-between">
            <v-item v-for="n in 13" :key="n" v-slot="{ active, toggle }">
              <v-card
                class="d-flex align-center"
                elevation="0"
                height="100"
                width="100"
                @click="toggle"
              >
                <v-scroll-y-transition v-if="active">
                  <v-card-title class="flex-grow-1 text-center">
                    Active
                  </v-card-title>
                </v-scroll-y-transition>
                <v-scroll-x-transition v-else>
                  <v-card-text class="flex-grow-1 text-center">
                    otra cosa
                  </v-card-text>
                </v-scroll-x-transition>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
      </v-container>
    </v-item-group>

    <DataTable
      :headers="headers"
      :desserts="desserts"
      :dialog="dialog"
      :actions-row="actionsRow"
      :search="search"
      :snack="snack"
      :snack-color="snackColor"
      :snack-text="snackText"
      :snack-timeout="snackTimeout"
      :save-edit-dialog="SaveEditDialog"
      :cancel-edit-dialog="CancelEditDialog"
      :open-edit-dialog="OpenEditDialog"
      :close-edit-dialog="CloseEditDialog"
      :dialog-delete="dialogDelete"
      :data-p-d-f="dataPDF"
      :view-p-d-f="viewPDF"
      @ResetData="reloadData"
      @editItem="editItem"
      @deleteItem="deleteItem"
      @snackClose="SnackClose"
      @changeSelect="changeSelect"
      @generatePDF="generatePDF"
    >
      <template #headerTables>
        <v-toolbar flat>
          <v-toolbar-title>Resumen de tickets</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          />
        </v-toolbar>
      </template>
    </DataTable>
  </v-container>
</template>

<script>
import {
  reactive,
  toRefs,
  nextTick,
  watch,
  // computed,
} from '@vue/composition-api'
import tbTickets from '~/modules/tables/tb-tickets'

export default {
  name: 'TicketsIndex',
  setup() {
    const reloadData = (res) => {
      console.log(res)
    }

    const state = reactive({
      ...tbTickets,
      // computed: {
      //   ...toRefs({ ...computed(() => tbTickets) }),
      // },
    })

    const editItem = (item) => {
      console.log(item)
      state.editedIndex = state.desserts.indexOf(item)
      state.editedItem = Object.assign({}, item)
      state.dialog = true
    }

    const deleteItem = (item) => {
      state.editedIndex = state.desserts.indexOf(item)
      state.editedItem = Object.assign({}, item)
      state.dialogDelete = true
    }

    const deleteItemConfirm = () => {
      console.log(state.editedIndex)
      // state.desserts.splice(state.editedIndex, 1)
      // closeDelete()
    }

    const closeDelete = () => {
      state.dialogDelete = false
      nextTick(() => {
        state.editedItem = Object.assign({}, state.defaultItem)
        state.editedIndex = -1
      })
    }

    const SaveEditDialog = () => {
      setTimeout(() => {
        state.snack = false
      }, state.snackTimeout)
      state.snackColor = 'teal accent-3'
      state.snackText = 'Data saved'
    }

    const CancelEditDialog = () => {
      setTimeout(() => {
        state.snack = false
      }, state.snackTimeout)
      state.snackColor = 'red accent-4'
      state.snackText = 'error'
    }

    const OpenEditDialog = () => {
      state.snack = true
      state.snackColor = 'primary'
      state.snackText = 'Dialog opened'
    }

    const SnackClose = () => {
      state.snack = false
    }

    const CloseEditDialog = () => {
      console.log('Dialog closed')
    }

    const CanselNewTickets = () => {
      state.dialog = false
      nextTick(() => {
        state.editedItem = Object.assign({}, state.defaultItem)
        state.editedIndex = -1
      })
    }

    const SaveNewTickets = () => {
      if (state.editedIndex > -1) {
        Object.assign(state.desserts[state.editedIndex], state.editedItem)
      } else {
        state.desserts.push(state.editedItem)
      }
      CanselNewTickets()
    }

    const changeSelect = ({ $event, id }) => {
      return {
        value: $event.target.value,
        id,
      }
    }

    const querySelections = (value, index) => {
      if (state.desserts[index].autocomplete.items.length === 0) {
        state.desserts[index].autocomplete.loading = true
        if (value !== undefined) {
          state.desserts[index].autocomplete.items = state.looking_for.filter(
            (e) => {
              return (e || '')
                .toLowerCase()
                .includes((value || '').toLowerCase())
            }
          )
          state.desserts[index].autocomplete.loading = false
        }
      }
    }
    
    const generatePDF = (record) => {
      state.dataPDF = record.data

      state.desserts
        .filter((el) => {
          return el.id === record.data.id
        })
        .filter((el) => {
          record.key === 1
            ? (el.pdf.pdf_one.loading = true)
            : (el.pdf.pdf_two.loading = true)
          setTimeout(() => {
            el.pdf.pdf_one.loading = false
            el.pdf.pdf_two.loading = false
          }, 3000)

          return el
        })

      setTimeout(() => {
        record.vuePdf.generatePdf()
      }, 3000)
    }

    watch(
      () => state.desserts,
      (value) => {
        let val = value.map((currentValue, index) => {
          return {
            value:
              currentValue.autocomplete.search !== ''
                ? currentValue.autocomplete.search
                : null,
            index,
          }
        })

        val = val.find((el) => {
          return el.value != null
            ? el.value.toString().length <= 3
              ? el.value
              : null
            : null
        })

        if (
          val &&
          val !== undefined &&
          val !== state.desserts[val.index].autocomplete.select
        )
          querySelections(val.value, val.index)
      },
      { deep: true }
    )

    return {
      ...toRefs(state),
      reloadData,
      editItem,
      deleteItem,
      SaveEditDialog,
      CancelEditDialog,
      OpenEditDialog,
      CloseEditDialog,
      CanselNewTickets,
      SaveNewTickets,
      SnackClose,
      closeDelete,
      deleteItemConfirm,
      changeSelect,
      generatePDF,
    }
  },
}
</script>

