<template>
  <div v-if="Object.keys(redirect).length">
    <nuxt-link
      :to="
        redirect.params
          ? redirect.url + items.data[redirect.params]
          : redirect.url
      "
      style="text-decoration: none"
    >
      <v-btn icon color="primary" small>
        <v-icon small> {{ redirect.to }} </v-icon>
      </v-btn>
    </nuxt-link>
  </div>
  <div v-else>
    <v-btn
      v-if="functionButton !== ''"
      icon
      :color="iconButton == 'mdi-delete-alert' ? 'red' : 'primary'"
      small
      @click="$emit(functionButton, items)"
    >
      <v-icon small> {{ iconButton }} </v-icon>
    </v-btn>
    <div v-else>
      <v-btn
        v-for="(fn, key) in emitFunctions"
        :key="key"
        icon
        color="primary"
        small
        @click="fn[functionButton.name]"
      >
        <v-icon small> {{ fn.icon }} </v-icon>
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ActionsRow',
  props: {
    item: { type: Object, default: () => ({}) },
    functionButton: { type: String, default: '' },
    iconButton: { type: String, default: '' },
    redirect: { type: Object, default: () => ({}) },
  },
  setup(props, { emit }) {
    const items = {
      data: { ...props.item },
      function: props.functionButton,
    }

    const emitFunctions = props.item.actions.map((actions) => {
      if (actions.func !== undefined) {
        return {
          [actions.func]: () => {
            emit(actions.func, props)
          },
          icon: actions.icon,
        }
      }
      return ''
    })
    return { emitFunctions, items }
  },
}
</script>