<template>
  <div>
    <vue-editor v-model="Content.value" :value="Content.value"  placeholder="Write Something..." ></vue-editor>
  </div>
</template>

<script>
import { toRefs, computed } from '@vue/composition-api'

export default {
  name: 'AddAnswer',
  props: {
    content: { type: String, default: '' },
  },
  setup(props) {
    const { content } = toRefs(props)

    const Content = computed(() => content)

    return { Content }
  },
}
</script>
