<template>
  <div>
    <h1>anadir respuestas</h1>
  </div>
</template>

<script>
// import { toRefs, computed } from '@vue/composition-api'

export default {
  name: 'AddResponse',
  setup() {
    // const { content } = toRefs(props)

    // const Content = computed(() => content)

    // return { Content }
  },
}
</script>
