<template>
  <div>
    <!-- <client-only> -->
    <vue-html2pdf
      :ref="pdf"
      :show-layout="false"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="true"
      :paginate-elements-by-height="1400"
      filename="hee hee"
      :pdf-quality="2"
      :manual-pagination="false"
      pdf-format="a4"
      pdf-orientation="landscape"
      pdf-content-width="800px"
      @progress="onProgress($event)"
      @beforeDownload="beforeDownload($event)"
      @hasStartedGeneration="hasStartedGeneration()"
      @hasGenerated="hasGenerated($event)"
    >
      <section slot="pdf-content">
        <Componente :is="viewPDF" v-once :data="dataPDF" />
      </section>
    </vue-html2pdf>

    <div class="d-flex gap">
      <v-tooltip
        v-for="(item, k) in items.pdf"
        :key="k"
        :color="item.color"
        top
      >
        <template #activator="{ on, attrs }">
          <v-btn
            :loading="item.loading"
            :disabled="item.loading"
            :color="!item.loading ? 'primary' : 'primary'"
            fab
            small    
            v-bind="attrs"
            v-on="on"
            @click="generateVuePdf(items, item.key)"
          >
            <v-icon small> {{ item.ico }} </v-icon>
          </v-btn>
        </template>
        <span>{{ item.tooltip }}</span>
      </v-tooltip>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VueHtmlpdf',
  props: {
    pdf: { type: String, default: 'vuePdf' },
    items: { type: Object, default: () => ({}) },
    viewPDF: { type: String, default: '' },
    dataPDF: { type: Object, default: () => ({}) },
  },
  emit: ['generateReport'],
  setup() {
    const generateReport = () => {
      console.log('hola')
      // emit('generateReport', [props, $refs.html2Pdf.generatePdf()])
    }
    const beforeDownload = ({ html2pdf, options, pdfContent }) => {
      console.log(html2pdf, options, pdfContent)
      // emit('generateReport', [props, $refs.html2Pdf, html2pdf, options, pdfContent])

      // await html2pdf()
      //   .set(options)
      //   .from(pdfContent)
      //   .toPdf()
      //   .get('pdf')
      //   .then((pdf) => {
      //     const totalPages = pdf.internal.getNumberOfPages()
      //     for (let i = 1; i <= totalPages; i++) {
      //       pdf.setPage(i)
      //       pdf.setFontSize(10)
      //       pdf.setTextColor(150)
      //       pdf.text(
      //         'Page ' + i + ' of ' + totalPages,
      //         pdf.internal.pageSize.getWidth() * 0.88,
      //         pdf.internal.pageSize.getHeight() - 0.3
      //       )
      //     }
      //   })
      //   .save()
    }
    const hasStartedGeneration = () => {
      console.log('hola')
    }
    const hasGenerated = () => {
      console.log('hola')
    }
    const onProgress = () => {
      console.log('hola')
    }
    return {
      generateReport,
      beforeDownload,
      hasStartedGeneration,
      hasGenerated,
      onProgress,
    }
  },
  methods: {
    generateVuePdf(items, key) {
      this.$emit('generateVuePdf', {
        vuePdf: this.$refs.vuePdf,
        data: items,
        key
      })
    },
  },
}
</script>
