<template>
  <v-card>
    <v-tabs v-model="tab" align-with-title show-arrows fixed-tabs>
      <v-tabs-slider color="primary"></v-tabs-slider>

      <v-tab v-for="item in Object.keys(view.value)" :key="item">
        {{ item }}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item v-for="item in Object.keys(view.value)" :key="item">
        <v-card flat>
          <Componente :is="view.value[item]" v-once />
          <!-- :content="text"  -->
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import AddAnswer from '@@/modules/tickets/AddAnswer.vue'
import AddResponse from '@@/modules/tickets/AddResponse.vue'
import ChoresTickets from '@@/modules/tickets/ChoresTickets.vue'
import OtherTickets from '@@/modules/tickets/OtherTickets.vue'
import RemindersTickets from '@@/modules/tickets/RemindersTickets.vue'
import ReportTickets from '@@/modules/tickets/ReportTickets.vue'
import SettingsTickets from '@@/modules/tickets/SettingsTickets.vue'
import TerminalsAdded from '@@/modules/tickets/TerminalsAdded.vue'
import { reactive, toRefs } from '@vue/composition-api'

export default {
  name: 'TicketsId',
  data() {
    const state = reactive({
      view: {
        Ajustes: SettingsTickets,
        'Terminales añadidas': TerminalsAdded,
        'Añadir respuesta': AddAnswer,
        'Añadir respuesto': AddResponse,
        Recordatorios: RemindersTickets,
        'Otros tickets': OtherTickets,
        Tareas: ChoresTickets,
        Reporte: ReportTickets,
      },
    })

    return {
      ...toRefs(state),
      tab: null,
      text: 'Lorem ipsum',
    }
  },
}
</script>
