<template>
  <v-navigation-drawer
    class="primary"
    :value="drawer"
    :mini-variant="miniVariant"
    :clipped="clipped"
    :expand-on-hover="miniVariant"
    fixed
    app
    dark
  >
    <v-list v-for="item in routes" :key="item.title" nav dense>
      <v-list-group
        v-if="item.items"
        :key="item.title"
        v-model="item.active"
        :prepend-icon="item.icon"
        :color="item.active ? 'indigo lighten-5' : 'text--white'"
        no-action
      >
        <template #activator>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </template>

        <v-list-item v-for="(child, k) in item.items" :key="k" :to="child.to">
          <v-list-item-content>
            <v-list-item-title v-text="child.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-group>

      <v-list-item-group v-else :key="item.title" v-model="item.active">
        <v-list-item :to="item.to">
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script >
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'MainSidebar',
  props: {
    routes: { type: Array, default: () => [] },
    drawer: { type: Boolean, default: false },
    miniVariant: { type: Boolean, default: false },
    clipped: { type: Boolean, default: false },
  },
})
</script>