<template>
  <div>
    <v-data-table
      v-once
      :headers="headers"
      :items="desserts"
      :loading="loading"
      :loading-text="loadingText"
      :search="search"
      sort-by="client"
      class="elevat ion-1"
      item-key="id"
    >
      <template #top>
        <slot v-once name="headerTables" />
      </template>

      <template #no-data>
        <v-btn v-once color="primary" @click="resetData">Reset</v-btn>
      </template>

      <template #[`item.editable`]="props">
        <v-edit-dialog
          :return-value.sync="props.item.editable.edit"
          large
          persistent
          class="text-caption"
          @save="saveEditDialog"
          @cancel="cancelEditDialog"
          @open="openEditDialog"
          @close="closeEditDialog"
        >
          {{ props.item.editable.edit }}
          <template #input>
            <v-text-field
              v-model="props.item.editable.edit"
              :rules="[max25chars]"
              label="Edit"
              single-line
              counter
              autofocus
            ></v-text-field>
          </template>
        </v-edit-dialog>
      </template>

      <template #[`item.id`]="{ item }">
        <span> # {{ item.id }} </span>
      </template>

      <template #[`item.status`]="{ item }">
        <v-chip class="text-caption" color="blue" small label outlined>
          {{ item.status }}
        </v-chip>
      </template>

      <template #[`item.actions`]="{ item }">
        <h1 class="text-caption pt-2">
          {{ item.client }}
        </h1>
        <div v-if="actionsRow" class="d-flex py-2">
          <article v-for="(action, k) in item.actions" :key="k">
            <Componente
              :is="actionsRow"
              :item="item"
              :function-button="action.func"
              :redirect="action.redirect"
              :icon-button="action.icon"
              @[action.func]="refactoring"
            />
          </article>
        </div>
      </template>

      <template #[`item.client`]="{ item }">
        <div class="text-caption">
          <v-avatar color="primary lighten-2" size="20" class="mr-2">
            <img
              v-if="item.client.img"
              src="https://cdn.vuetifyjs.com/images/john.jpg"
              alt="John"
            />
            <v-icon v-else dark small> mdi-account-circle </v-icon>
          </v-avatar>
          <nuxt-link :to="'/client/' + item.id">{{ item.client }} </nuxt-link>
        </div>
      </template>

      <template #[`item.buttons`]="{ item }">
        <div class="d-flex gap">
          <v-tooltip
            v-for="(bt, k) in item.buttons"
            :key="k"
            :color="bt.color"
            top
          >
            <template #activator="{ on, attrs }">
              <v-btn
                :loading="loading"
                :disabled="loading"
                color="primary"
                fab
                x-small
                dark
                v-bind="attrs"
                v-on="on"
                @click="bt.func"
              >
                <v-icon small @click="bt.func"> {{ bt.ico }} </v-icon>
              </v-btn>
            </template>
            <span>{{ bt.tooltip }}</span>
          </v-tooltip>
        </div>
      </template>

      <template #[`item.pdf`]="{ item }">
        {{ item.dataPDF }}
        <div>
          <VueHtmlpdf
            :view-p-d-f="viewPDF"
            :data-p-d-f="dataPDF"
            :items="item"
            @generateVuePdf="generatePDF"
          />
        </div>
      </template>

      <template #[`item.label`]="{ item }">
        <div class="text-center">
          <v-chip class="ma-2" color="pink" label text-color="white" small>
            <v-icon x-small left> mdi-label </v-icon>
            {{ item.label }}
          </v-chip>
        </div>
      </template>

      <template #[`item.selects`]="{ item }">
        <v-select
          :items="item.selects.items"
          :menu-props="{ top: true, offsetY: true }"
          label="Label"
          class="pt-4 my-0"
          flat
          solo-inverted
        ></v-select>
      </template>

      <template #[`item.autocomplete`]="{ item }">
        <v-autocomplete
          :id="item.id"
          :key="item.id"
          :value="item.autocomplete.select"
          :loading="item.autocomplete.loading"
          :items="item.autocomplete.items"
          :search-input.sync="item.autocomplete.search"
          cache-items
          class="mx-4"
          flat
          hide-no-data
          hide-details
          label="What state are you from?"
          solo-inverted
          return-object
          auto-select-first
          full-width
          @change="($event) => $emit('changeSelect', { $event, id: item.id })"
        >
        </v-autocomplete>
      </template>

      <template #[`item.menu`]="{ item }">
        <v-menu transition="slide-y-transition" open-on-hover offset-y>
          <template #activator="{ on, attrs }">
            <v-btn depressed v-bind="attrs" v-on="on">
              {{ item.menu.title }}
            </v-btn>
          </template>
          <v-list>
            <v-list-item v-for="(list, i) in item.menu.list" :key="i">
              <v-list-item-title class="my-5">
                <span class="py-5"> {{ list.title }}: {{ list.value }} </span>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>

    <v-snackbar
      :value="snack"
      :timeout="snackTimeout"
      :color="snackColor"
      right
      transition="scroll-x-reverse-transition"
    >
      {{ snackText }}

      <template #action="{ attrs }">
        <v-btn v-bind="attrs" text @click="snackClose"> Close </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>


<script>
export default {
  name: 'DataTable',
  props: {
    dialog: { type: Boolean, default: false },
    dialogDelete: { type: Boolean, default: false },
    headers: { type: Array, default: () => [] },
    desserts: { type: Array, default: () => [] },
    actionsRow: { type: Object, default: () => ({}) },
    loading: { type: Boolean, default: false },
    loadingText: { type: String, default: 'Loading... Please wait' },
    search: { type: String, default: '' },
    singleSelect: { type: Array, default: () => [] },

    snack: { type: Boolean, default: false },
    snackColor: { type: String, default: '' },
    snackText: { type: String, default: '' },
    snackTimeout: { type: Number, default: 3000 },

    saveEditDialog: { type: Function, default: () => ({}) },
    cancelEditDialog: { type: Function, default: () => ({}) },
    openEditDialog: { type: Function, default: () => ({}) },
    closeEditDialog: { type: Function, default: () => ({}) },

    viewPDF: { type: String, default: '' },
    dataPDF: { type: Object, default: () => ({}) },
  },
  emit: ['resetData', 'snackClose', 'editItem'],
  setup(props, { emit }) {
    const resetData = () => {
      emit('ResetData', props)
    }
    const refactoring = (item) => {
      emit(item.function, item.data)
    }

    const snackClose = () => {
      emit('snackClose', props.snack)
    }

    const generatePDF = (item) => {
      emit('generatePDF', item)
    }

    const actionsSetup = (name) => {
      if (name !== undefined) {
        return name.toString()
      } else {
        return 'no_funtion'
      }
    }

    return {
      snackClose,
      resetData,
      refactoring,
      actionsSetup,
      generatePDF,
      max25chars: (v) => v.length <= 25 || 'Input too long!',
    }
  },
}
</script>


<style>
.gap {
  gap: 5px;
}
</style>